#wrapper
  = render :partial => "shared/timetable_manager_sidebar"
  = render :partial => "shared/timetable_manager_navbar"
  #page-wrapper

    #table-wrapper.panel.panel-default.col-lg-10.col-md-8
      %table#index-timetable.table.table-condensed
        %thead
          %tr
            %th.col-lg-1 Week Day
            %th #
            %th.col-lg-2 Hour
            - Group.all.each do |g|
              %th= g.name
        %tbody
          - ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"].each do |week_day|
            - (1..5).each do |i|
              %tr{:data => {"week-day": week_day}}
                - case i
                - when 1
                  %td.thead{:rowspan => "5"}= week_day
                  %td= i
                  %td 8:00 - 9:20
                - when 2
                  %td= i
                  %td 9:35 - 10:55
                - when 3
                  %td= i
                  %td 11:10 - 12:30
                - when 4
                  %td= i
                  %td 12:40 - 14:00
                - when 5
                  %td= i
                  %td 14:10 - 15:30
                - Group.all.each do |g|
                  %td
                    %div
                      %button.btn.btn-success.js-btn-no-result{:data => {"toggle": "modal", "target": "#editModal", "id": -1, "is-empty": "true", "week-day": week_day, "hour-id": i, "group": g.name}} Available
              

    #editModal.modal.fade{:role => "dialog"}
      .modal-dialog
        / Modal content
        .modal-content
          .modal-header
            %button.close{:data => {"dismiss" => "modal"}, :type => "button"} &times;
            %h4.modal-title Modal Header
          .modal-body
            .input-group
              %select.selectpicker#js-teacher-select
              %select.selectpicker#js-subject-select
              %select.selectpicker#js-room-select
            %form#subject-type
              .form-group
                %select.selectpicker#js-subject-type-select
                  %option{:value => "lecture"} Lecture
                  %option{:value => "seminar"} Seminar
                  %option{:value => "laboratory"} Laboratory
              %input{:type => "checkbox", :data => {"switch-always" => "", "group-cls" => "button-group-sm"}}

            / .input-group
          .modal-footer
            %button.btn.btn-default{:data => {"dismiss" => "modal"}, :type => "button"} Close
            %button#btn-modal-delete.btn.btn-danger{:data => {"dismiss" => "modal"}, :type => "button"} Delete
            %button#btn-modal-save.btn.btn-primary{:data => {"dismiss" => "modal"}, :type => "button"} Save






