.navbar-default.sidebar{:role => "navigation"}
  .sidebar-nav.navbar-collapse
    %ul#side-menu.nav
      %li
        %a{:href => "index.html"}
          %i.fa.fa-dashboard.fa-fw
      %li
        %a{:href => "#"}
          %i.fa.fa-bar-chart-o.fa-fw
      %li
        %a{:href => "#"}
          %i.fa.fa-table.fa-fw
      %li
        %a{:href => "#"}
          %i.fa.fa-edit.fa-fw
      %li
        %a{:href => "#"}
          %i.fa.fa-wrench.fa-fw
      %li
        %a{:href => "#"}
          %i.fa.fa-sitemap.fa-fw
      %li
        %a{:href => "#"}
          %i.fa.fa-files-o.fa-fw