%nav#navbar-global.navbar.navbar-default.navbar-static-top{:role => "navigation"}
  .flex-container
    %select.selectpicker.col-lg-2
      %option General
      %option By Group
      %option By Semester
    %button.btn.btn-default{:type => "button"} Save current
    %img.img-circle{:src => "img/user.jpg"}