.sidebar {
    line-height: 2;
}

#navbar-global {
  position: relative;
  margin-left: 51px;
  margin-bottom: 0px;
  width: calc(100% - 51px);
  height: 58px;
  padding: 5px 10px 0px 5px;
}

.img-circle {
  position: relative;
  border-radius: 50%;
  width: 47px;
  height: 47px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container > .btn.btn-default {
  align-self: center;
}

.flex-container > .selectpicker {
  /*align-self: center;*/
}

#page-wrapper {
  position: relative;
  margin-top: -20px;
  padding: 10px 10px 10px 10px;
  display: block;
}

#table-wrapper {
  padding-bottom: 10px;
  margin-left: 0px;
}

#table-wrapper > table {
  margin-bottom: 15px;
}

td > div, th > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}






